body {
    font: 18px 'Roboto', sans-serif;
    color: black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url(./bg.webp) no-repeat center;
    background-size: cover;
    animation: backgroundZoomAnimate 20s forwards;
}

@keyframes backgroundZoomAnimate {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.pro5 {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 650px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2px;

    @media screen and (max-width: 768px) {
        width: auto;
    }
}


.avt img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 10px 60px -10px rgba(13, 28, 39, .5);
}

.infor {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.infor h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.infor div {
    font-size: 20px;
}

.follower {
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-direction: column;

    @media screen and (max-width: 576px) {
        gap: 30px;
    }
}
.follower div {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
.follower div:first-child {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2rem;
    /* margin-bottom: 15px; */
}

.follower div:last-child {
    font-size: 16px;
    opacity: .7;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social a {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    color: #ffffffff;
    position: relative;
    flex-shrink: 0;
    transition: all .2s;

    @media screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}
.social a:hover {
    transform: scale(1.2) translateY(-5px);
    color: aqua;
}

.social .facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0 4px 30px rgba(43, 98, 169, .5);
}

.social .instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, .6);
}
.social .tiktok {
    background: linear-gradient(45deg, #000000,#17181a);
    box-shadow: 0 4px 30px rgba(63, 65, 67, .6);
}
.social .linkedin {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0 4px 30px rgba(63, 65, 67, .6);
}
.social .github {
    background: linear-gradient(45deg, #333333, #626d73);
    box-shadow: 0 4px 30px rgba(63, 65, 67, .6);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: 576px) {
        flex-direction: column;
        gap: 1.5rem;
    }
}

.contact a {
    font-weight: bold;
    font-size: 22px;
    padding: 15px 0;
    min-width: 250px;
    border-radius: 50px;
    text-align: center;
    color: #ffffffff;
    cursor: pointer;
    transition: all .2s;
    
    @media screen and (max-width: 768px) {
        min-width: 170px;
    }
}
.contact a {
    @media screen and (max-width: 576px) {
        min-width: inherit;
        width: 100%;
        max-width: 350px;
    }
}

.contact a:hover {
    transform: translateY(-5px);
}

.contact .message {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, .4);
}

.contact .message:hover {
    box-shadow: 0 7px 30px rgba(19, 127, 212, .4);
}


.contact .follow {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0 4px 30px rgba(223, 45, 70, .35);
}

.contact .follow:hover {
    box-shadow: 0 7px 30px rgba(223, 45, 70, .35);
}

.address {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

